<h1>Ngx Date Picker</h1>

<div class="mj-daterange-picker" #datePicker>
  <div class="panels-choices">
    <ng-container *ngFor="let panel of panels;">
      <button
        class="panel-button"
        [ngClass]="{ 'panel-button--active': this.currentPanel === panel }"
        (click)="onPanelChange(panel)"
      >{{ panel }}</button>
    </ng-container>
  </div>

  <div class="mj-calendar" [ngClass]="currentPanel === 'week' ? 'mj-calendar-week' : 'mj-calendar-days'">
    <ng-container [ngSwitch]="currentPanel">
      <div *ngSwitchCase="'range'">
        <h3>range</h3>
        <div class="calendar-header">
          <div class="calendar-arrow calendar-arrow-previous" (click)="onChangeMonth(-1)">
            <svg version="1.1" viewBox="0 0 8 13" class="svg-icon svg-fill" style="width: 7.4px; height: 12px;">
              <path pid="0" d="M7.766 1.658L3.008 6.094l4.437 4.758-1.448 1.35L.21 5.997 6.416.21z"></path>
            </svg>
          </div>
          <span class="calendar-month-name">{{ this.current | date: 'yyyy년 M월': '': 'ko' }}</span>
          <div class="calendar-arrow calendar-arrow-next" (click)="onChangeMonth(1)">
            <svg version="1.1" viewBox="0 0 8 13" class="svg-icon svg-fill" style="width: 7.4px; height: 12px;">
              <path pid="0" d="M.048 1.658l4.758 4.436L.37 10.852l1.448 1.35 5.787-6.205L1.4.21z"></path>
            </svg>
          </div>
        </div>
        <div class="date-calendar-board">
          <div class="calendar-days-name">
            <ng-container *ngFor="let day of monthDays[0]">
              <div class="day">
                {{ day.date | date: 'EE': '': 'ko' }}
              </div>
            </ng-container>
          </div>
          <ng-container *ngFor="let week of monthDays">
            <div class="calendar-days">
              <ng-container *ngFor="let day of week">
                <div
                  class="day"
                  [ngClass]="dayCssProvider(day)"
                  (click)="onSelectDay(day.date)"
                  (mouseover)="onHoverizeDay(day.date)"
                >
                  {{ day.date | date: 'dd' }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'week'">
        <h3>week</h3>
        <div class="calendar-header">
          <div class="calendar-arrow calendar-arrow-previous" (click)="onChangeMonth(-1)">
            <svg version="1.1" viewBox="0 0 8 13" class="svg-icon svg-fill" style="width: 7.4px; height: 12px;">
              <path pid="0" d="M7.766 1.658L3.008 6.094l4.437 4.758-1.448 1.35L.21 5.997 6.416.21z"></path>
            </svg>
          </div>
          <span class="calendar-month-name">{{ this.current | date: 'yyyy년 M월': '': 'ko' }}</span>
          <div class="calendar-arrow calendar-arrow-next" (click)="onChangeMonth(1)">
            <svg version="1.1" viewBox="0 0 8 13" class="svg-icon svg-fill" style="width: 7.4px; height: 12px;">
              <path pid="0" d="M.048 1.658l4.758 4.436L.37 10.852l1.448 1.35 5.787-6.205L1.4.21z"></path>
            </svg>
          </div>
        </div>
        <div class="date-calendar-board">
          <div class="calendar-days-name">
            <ng-container *ngFor="let day of monthDays[0]">
              <div class="day">
                {{ day.date | date: 'EE': '': 'ko' }}
              </div>
            </ng-container>
          </div>
          <ng-container *ngFor="let week of monthDays">
            <div class="calendar-days">
              <ng-container *ngFor="let day of week">
                <div
                  class="day"
                  [ngClass]="dayCssProvider(day)"
                  (click)="onSelectDay(day.date)"
                  (mouseover)="onHoverizeDay(day.date)"
                >
                  {{ day.date | date: 'dd' }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'month'">
        <h3>month</h3>
      </div>
      <div *ngSwitchCase="'quarter'">
        <h3>quarter</h3>
      </div>
      <div *ngSwitchCase="'year'">
        <h3>year</h3>
      </div>
    </ng-container>
  </div>
</div>

<h1>
  {{ dateValue?.from | date: 'yyyy-MM-dd EEEE': '': 'ko' | json }}
  ~
  {{ dateValue?.to | date: 'yyyy-MM-dd EEEE': '': 'ko' | json }}
</h1>

<h3>{{  hoverRange | json  }}</h3>

<h2>{{ sampleKoDate | json }}</h2>
