<h1>Ngx Date Picker</h1>

<div class="mj-daterange-picker" #datePicker>
  <div class="panels-choices">
    <ng-container *ngFor="let panel of panels;">
      <button
        class="panel-button"
        [ngClass]="{ 'panel-button--active': this.currentPanel === panel }"
        (click)="onPanelChange(panel)"
      >{{ panel }}</button>
    </ng-container>
  </div>

  <div class="mj-calendar" [ngClass]="currentPanel === 'week' ? 'mj-calendar-week' : 'mj-calendar-days'">
    <ng-container [ngSwitch]="currentPanel">
      <div *ngSwitchCase="'range'">
        <h3>range</h3>
        <div class="date-calendar-header">
          <button (click)="onChangeMonth(-1)"><<</button>
          <span>{{ this.current | json }}</span>
          <button (click)="onChangeMonth(1)">>></button>
        </div>
        <div class="date-calendar-board">
          <div class="calendar-days">
            <ng-container *ngFor="let day of monthDays[0]">
              <div class="day">
                {{ day.date | date: 'EEEE' }}
              </div>
            </ng-container>
          </div>
          <ng-container *ngFor="let week of monthDays">
            <div class="calendar-days">
              <ng-container *ngFor="let day of week">
                <div
                  class="day"
                  [ngClass]="dayCssProvider(day)"
                  (click)="onSelectDay(day.date)"
                  (mouseover)="onHoverizeDay(day.date)"
                >
                  {{ day.date | date: 'dd' }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'week'">
        <h3>week</h3>
        <div class="date-calendar-header">
          <button (click)="onChangeMonth(-1)"><<</button>
          <span>{{ this.current | json }}</span>
          <button (click)="onChangeMonth(1)">>></button>
        </div>
        <div class="date-calendar-board">
          <div class="calendar-days">
            <ng-container *ngFor="let day of monthDays[0]">
              <div class="day">
                {{ day.date | date: 'EEEE' }}
              </div>
            </ng-container>
          </div>
          <ng-container *ngFor="let week of monthDays">
            <div class="calendar-days">
              <ng-container *ngFor="let day of week">
                <div
                  class="day"
                  [ngClass]="dayCssProvider(day)"
                  (click)="onSelectDay(day.date)"
                  (mouseover)="onHoverizeDay(day.date)"
                >
                  {{ day.date | date: 'dd' }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'month'">
        <h3>month</h3>
      </div>
      <div *ngSwitchCase="'quarter'">
        <h3>quarter</h3>
      </div>
      <div *ngSwitchCase="'year'">
        <h3>year</h3>
      </div>
    </ng-container>
  </div>
</div>

<h1>
  {{ dateValue?.from | date: 'yyyy-MM-dd EEEE' | json }}
  ~
  {{ dateValue?.to | date: 'yyyy-MM-dd EEEE' | json }}
</h1>

<h3>{{  hoverRange | json  }}</h3>
